@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

:root {
    --font-sans: "Archivo", sans-serif;
    --ui-primary: black;
}

.dark {
    --ui-primary: white;
}

html,
body,
#__nuxt {
    height: 100%;
    display: flex;
    flex-direction: column;
}
