@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --font-sans: "Inter", sans-serif;
    --ui-primary: black;
}

.dark {
    --ui-primary: white;
}

html,
body,
#__nuxt {
    height: 100%;
    display: flex;
    flex-direction: column;
}
