@import "@bcc-code/design-library-vue/tailwind/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bcc-select {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 2rem;
}

html,
body,
#__nuxt {
	height: 100%;
}