## If this variable is set, you will be automatically authenticated as the user with the given email address
DEBUG_AUTH_EMAIL=john.smith@example.com

## This is is the correct path to serve the output of `pnpm build` in the frontend directory
## it is not used/needed if you are using the NUXT development server
STATIC_FILES_PATH="../frontend/.output/public"

# Root file for files like permissions.json
CONFIG_ROOT=

## Copy your bearer token (omit "Bearer " prefix) from the Authorization header of a request to the BMM API
## and paste it here. This token will be used to authenticate instead of the client credentials.
BMM_DEBUG_TOKEN=<TOKEN>

## Copy the following values from your Auth0 application settings
## You can leave this unset if you are using the BMM_DEBUG_TOKEN
BMM_AUTH0_BASE_URL=<AUTH0_BASE_URL>
BMM_CLIENT_ID=<ID>
BMM_CLIENT_SECRET=<SECRET>
BMM_AUDIENCE=<AUDIENCE>


BMM_BASE_URL="https://bmm-api.brunstad.org"
BMM_INT_BASE_URL="https://int-bmm-api.brunstad.org"